# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

*.log

# Precompiled Headers
*.gch
*.pch

# Test files
*.png
*.mpeg

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#SCons
.sconsign.dblite

#Test output
test_summary/*

# Debug files
*/build/*
projects/example/build/*

# Modified files
*~


